{
  "presets": [
    "es2015",
    "react",
    "flow",
    "stage-2"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./app/"
        ],
        "alias": {
          "test": "./test"
        },
        "extensions": [
          ".js"
        ]
      }
    ],
    "transform-flow-comments"
  ]
}